.reset-password-button {
  display: block;
  width: 100%;
  max-width: var(--width);
  height: var(--height);
  font-family: var(--font);
  font-weight: 700;
  font-size: 18px;
  margin: 0 auto;
  background-color: blue;
  border-radius: 50px;
  border: unset;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.reset-password-button:hover {
  background-color: rgb(119, 119, 255);
}

.forgot-password-div .email-div input {
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 10px;
}

.forgot-password-div .cancel-button {
  margin-top: 2.5em;
  background-color: transparent;
  color: red;
  border: unset;
  width: 120px;
  border-radius: 1322px;
  height: 32px;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.forgot-password-div .cancel-button:hover {
  width: 200px;
  background-color: red;
  color: white;
}
