.update-password-div {
  width: calc(100% - 100px);
  max-width: 400px;
  min-width: 380px;
  margin: 0 auto;
}

.update-password-div .cancel-button {
  display: block;
  width: 120px;
  max-width: var(--width);
  height: 35px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border-radius: 50px;
  border: unset;
  color: red;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.update-password-div .cancel-button:hover {
  background-color: red;
  color: white;
  width: 200px;
}

.update-password-div .show-icon-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
