.cancel-button {
  margin-top: 2.5em;
  background-color: transparent;
  color: black;
  border: 2px solid transparent;
  width: 120px;
  border-radius: 1322px;
  height: 32px;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.cancel-button:hover {
  width: 200px;
  background-color: transparent;
  color: black;
  border: 2px solid var(--purple);
}
