.h1 {
  margin-bottom: 1rem;
  text-align: center;
  padding-inline: 5px;
}

.email-div,
.pass-div,
.confirm-pass-div {
  margin: 0 auto;
  margin-bottom: 1.2rem;
  width: var(--width);
  position: relative;
}

.email-div-error {
  color: red;
  font-size: 12px;
  margin-left: 3px;
  font-family: var(--font);
  font-weight: 500;
  position: absolute;
}

.email-div > input,
.pass-div > input,
.confirm-pass-div > input {
  width: 100%;
  height: var(--height);
  font-family: var(--font);
  font-weight: 600;
  padding-left: 10px;
  padding-right: 34px;
  border-radius: 8px;
  border: 1px solid grey;
}

.email-div .input-field-error,
.pass-div .input-field-error,
.confirm-pass-div .input-field-error {
  border: 1px solid red;
}

.email-div .input-field-error:focus-visible,
.pass-div .input-field-error:focus-visible,
.confirm-pass-div .input-field-error:focus-visible {
  outline: 1px solid red;
}

.email-div > input:focus-visible,
.pass-div > input:focus-visible,
.confirm-pass-div > input:focus-visible {
  outline: 1px solid rgb(88, 88, 88);
}

.sign-up-button {
  display: block;
  width: 60%;
  max-width: var(--width);
  height: var(--height);
  font-family: var(--font);
  font-weight: 700;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: blue;
  border-radius: 50px;
  border: unset;
  color: white;
  cursor: pointer;
  transition: all 400ms ease-in;
}

.sign-up-button:hover {
  background-color: rgb(151, 151, 250);
  width: 100%;
}

.adds-first,
.adds-second {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.adds-first {
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
}

.sign-in-link {
  color: blue;
  border: unset;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--font);
  font-weight: 600;
  margin-left: 5px;
}

.pass-div {
  position: relative;
}

.confirm-pass-div {
  position: relative;
}

.sign-up-form .show-icon-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
