.sign-in__adds-second {
  margin-top: 1rem;
  text-decoration: none;
  color: var(--purple);
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  border: unset;
  font-weight: 500;
  font-family: var(--font);
  text-decoration: underline;
  transition: all 200ms ease-out;
}

.sign-in__adds-second:hover {
  color: var(--purple-hover);
}

.sign-in-email-div > input,
.sign-in-pass-div > input {
  border-radius: 8px;
  border: 1px solid grey;
}

.sign-in-email-div > input:focus-visible,
.sign-in-pass-div > input:focus-visible {
  outline: 1px solid rgb(88, 88, 88);
}

.adds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin__adds-first {
  margin-top: 1rem;
}

.signin__adds-first-button {
  background-color: transparent;
  border: unset;
  color: black;
  font-size: 16px;
  font-family: var(--font);
}

.signin__adds_first-link {
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  color: blue;
}

.adds-second {
  background-color: transparent;
  cursor: pointer;
  border: unset;
  font-weight: 500;
  font-size: 16px;
  font-family: var(--font);
  text-decoration: underline;
}

.sign-in-button {
  display: block;
  width: 100%;
  max-width: var(--width);
  height: var(--height);
  font-family: var(--font);
  font-weight: 700;
  font-size: 18px;
  margin: 0 auto;
  background-color: var(--purple);
  border-radius: 50px;
  border: unset;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.sign-in-button:hover {
  background-color: #ac00eb;
}

.sign-in-div .show-icon-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.sign-in-div .sign-div-error {
  color: red;
  font-size: 12px;
  margin-left: 3px;
  font-family: var(--font);
  font-weight: 500;
  position: absolute;
}

.adds-sign {
  color: var(--purple) !important;
}

.adds-sign:hover {
  color: var(--purple-hover) !important;
}