.update-profile-div {
  width: calc(100% - 100px);
  max-width: 400px;
  min-width: 380px;
  margin: 0 auto;
}

.update-profile__form {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.update-profile__form input {
  width: 100%;
  height: var(--height);
  font-family: var(--family);
  font-weight: 600;
  padding-left: 10px;
  padding-right: 34px;
  border-radius: 8px;
  border: 1px solid grey;
}

h2 {
  text-align: center;
  min-height: 35px;
}

.update-profile__form input:focus-visible {
  outline: 1px solid rgb(104, 104, 104);
}

.update-profile__input-div {
  margin: 0 auto;
  margin-bottom: 1.2rem;
  width: var(--width);
  position: relative;
}

.update-profile-div .show-icon-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.update-profile__form .update-button {
  width: 300px;
  background-color: blue;
  height: 40px;
  border: unset;
  border-radius: 20px;
  color: white;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.update-profile__form .update-button:hover {
  background-color: rgb(119, 119, 255);
}

.error-border {
  border: 1px solid red !important;
}

.error-border:focus-visible {
  outline: none !important;
}
